/* Indie Flower font family import*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
	font-size: 10px; /* Default font size for page. 1rem === 10px, 1.5rem === 15px...*/
}

body {
	font-size: 1.5rem;
	background-color: black;
	margin: 0;
}

a {
	font-weight: bold;
	color: pink;
}

#main {
	background: rgb(238, 88, 252, .7);
	margin: 0 20px;
	border-radius: 25px;
	color: white;
	font-family: sans-serif;
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

#title {
	font-size: 4rem;
	font-family: "Indie Flower";
}

#img-div {
	margin: auto;
	max-width: 550px;
	background: white;
	padding: 10px;
	border-radius: 25px;
}

#image {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	max-height: 500px;
	display: block;
}

#img-caption {
	color: black;
	font-style: italic;
}

#tribute-info{
	max-width: 550px;
	padding: 0 20px;
	margin: 0 auto;
}